{# src/WhackUp/UserBundle/Resources/views/Profile/avatar.html.twig #}

{% extends "WhackUpUserBundle:Profile:index.html.twig" %}

{#{% block title %}{{ parent() }}  {{ app.user.username }}{% endblock %} #}


{% block block_onglet_avatar %}active{% endblock %}

{% block block_profil %}
    {% if is_granted('ROLE_ADMIN') %}
        {{ form_start(form, { 'action': path('admin_avatar'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {% else %}
        {{ form_start(form, { 'action': path('whack_up_user_avatar'), 'attr': { 'class': 'whack_up_user_avatar' } }) }}
    {% endif %}
        <div class="info-form">
            {{ form_errors(form.file) }}
            {{ msg_form }}
        </div>
        <div class="form-group ">
            <div class="input-group">
                Nouvelle Image :<br/>
                {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group m-maj" >
            <input type="submit" class="form-control btn btn-default" value="{{ 'Valider'|trans }}" />
        </div>
    {{ form_end(form) }}
{% endblock %}









