{# src/WhackUp/UserBundle/Resources/views/Profile/change_password.html.twig #}

{% extends "WhackUpUserBundle:Profile:index.html.twig" %}

{#{% block title %}{{ parent() }}  {{ app.user.username }}{% endblock %} #}


{% block block_onglet_pass %}active{% endblock %}

{% block block_profil %}

    {% if is_granted('ROLE_ADMIN') %}
        {{ form_start(form, { 'action': path('admin_change_password'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {% else %}
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {% endif %}
        {# {{ form_widget(form) }} #}
        <div class="info-form">
            {{ form_errors(form.current_password) }}
            {{ form_errors(form.plainPassword.first) }}
            {{ form_errors(form.plainPassword.second) }}
        </div>
        <div class="form-group ">
            <div class="input-group">
                Mot de passe actuel : <br/>
                {{ form_widget(form.current_password, {'attr': {'class': 'form-control','placeholder':'Current'}}) }}
            </div>
        </div>
        <div class="form-group ">
            <div class="input-group">
                Nouveau Mot de passe :<br/>
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control','placeholder':'New'}}) }}
            </div>
        </div>
        <div class="form-group ">
            <div class="input-group">
                Confirmation nouveau Mot de passe :<br/>
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control','placeholder':'Confirmation new'}}) }}
            </div>
        </div>
        <div class="form-group m-maj" >
            <input type="submit" class="form-control btn btn-default" value="{{ 'Valider'|trans }}" />
        </div>
    {{ form_end(form) }}
{% endblock %}









