
{# src/WhackUp/ManageBundle/Resources/views/Advert/index.html.twig #}

{% extends "WhackUpManageBundle:Default:index.html.twig" %}


{% block title %}{{ parent() }} | Administration des Pub{% endblock %}


{% block page_advert %}active{% endblock %}


{% block side_left %}
    <div class="side-left">
        <div class="wrap-block">
            <div class="title"> <span class="glyphicon glyphicon-menu-hamburger"></span> Menu des Pub</div>
            <div class="content">
                    <ul>
                        <li><a href="{{ path('whack_up_manage_pub') }}"> <span class="glyphicon glyphicon-book"></span> Nos Pub</a></li>
                        <li><a href="{{ path('whack_up_manage_pub_add') }}"> <span class="glyphicon glyphicon-plus-sign"></span> Ajouter une Pub</a></li>
                    </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block side_right %}
    <div class="side-right">
        <div class="title"> Nos Pub ({{ nbreadvert }})</div>
        <div class="content">
            {% if adverts is empty %}
               il ya pas d'annonces
            {% else %}
                {% for advert in adverts %}
                     <div class="wrap-advert">
                         <div class="wrap-side-left">
                             <img src="{{ asset(advert.uploadDir ~ '/' ~ advert.picture) }}" alt="{{ advert.title }}" >
                             <div class="bar-info-advert">
                                 {% if advert.actived == 1 %}
                                     <span class="details m-show">
                                      <span class="glyphicon glyphicon-eye-open"></span> Affich&eacute;e
                                 </span>
                                 {% else %}
                                     <span class="details m-hide">
                                      <span class="glyphicon glyphicon-eye-close"></span> Masqu&eacute;e
                                 </span>
                                 {% endif %}

                                 <span class="details">
                                      <span class="glyphicon glyphicon-dashboard"></span> {{ advert.dateend|date('d F Y') }}
                                 </span>

                                 <span class="details">
                                     <a href="http:\\{{ advert.web }}" title="lien annonce"> <span class="glyphicon glyphicon-globe"></span></a>
                                 </span>

                                 <span class="details">
                                     <a href="" title="modifier annonce"> <span class="glyphicon glyphicon-pencil"></span></a>
                                 </span>

                             </div>
                         </div>
                         <div class="wrap-side-right">
                             <div class="titre">{{ advert.title }}</div>
                             <div class="description">{{ advert.description }}</div>
                             <div class="created">Ajout&eacute;e le {{ advert.created|date('d F Y') }}</div>
                         </div>
                     </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>
{% endblock %}













