
{# src/WhackUp/ManageBundle/Resources/views/Advert/view.html.twig #}

{% extends "WhackUpManageBundle:Advert:index.html.twig" %}


{% block title %}WhackUp | {{ advert.title }}{% endblock %}



{% block side_right %}
    <div class="side-right">
        <div class="title">
            <span class="option">
                <a href="{{ path('whack_up_manage_pub_edit',{ 'id': advert.id }) }}"><span class="glyphicon glyphicon-edit"></span> Modifier</a>
            </span>
            <span class="info">
                {{ advert.title }}
            </span>
        </div>
        <div class="content">
            <div class="view-advert">
                <div class="view-top">
                    <img src="{{ asset(advert.uploadDir ~ '/' ~ advert.picture) }}" alt="{{ advert.title }}" >
                </div>
                <div class="view-bottom">
                    <div class="titre">{{ advert.title }}</div>
                    <div class="description">{{ advert.description }}</div>
                    <div class="statut">
                        Statut de l'annonce :
                        {% if advert.actived == 1 %}
                            <span class="m-show">Affich&eacute;e</span>
                            (<a href="{{ path('whack_up_manage_pub_state',{ 'id': advert.id }) }}"><span class="glyphicon glyphicon-eye-close"></span> Masquer</a>)
                        {% else %}
                            <span class="m-hide">Masqu&eacute;e</span>
                            (<a href="{{ path('whack_up_manage_pub_state',{ 'id': advert.id }) }}"><span class="glyphicon glyphicon-eye-open"></span> Afficher</a>)
                        {% endif %}
                    </div>
                    <div class="deadline">
                        Date de l'&eacute;v&egrave;nement : {{ advert.dateend|date('d F Y') }}
                    </div>
                    <div class="created">
                        <a href="http:\\{{ advert.web }}" target="_blank" title="lien annonce"> <span class="glyphicon glyphicon-globe"></span></a>
                        - Ajout&eacute;e le {{ advert.created|date('d F Y') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}












