
{# src/WhackUp/ManageBundle/Resources/views/Disco/add.html.twig #}

{% extends "WhackUpManageBundle:Disco:index.html.twig" %}


{% block title %}Ajouter une discotheque{% endblock %}



{% block side_right %}
    <div class="side-right">
        <div class="title"> Ajouter une disco </div>
        <div class="content">

            <form method='post' action="{{ path('whack_up_manage_add_disco') }}" enctype="multipart/form-data" novalidate="novalidate" class="disco" > {# novalidate="novalidate #}
            {#   {{ form_start(form, {'attr': {'class': 'disco','novalidate':'novalidate'}}) }} #}
                <div class="info-form">
                    {{ form_errors(form.nom) }}
                    {{ form_errors(form.adresse) }}
                    {{ form_errors(form.connexion) }}
                    {% if message|trim %} <span class="glyphicon glyphicon-ok-circle"></span> Night Club <b>{{ message }}</b> have been saved...</span> {% endif %}

                </div>
                <div class="form-group ">
                    <div class="input-groupa">
                        <div class="m-label"> Nom :</div>
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control','placeholder':'Nom de la disco'}}) }}
                    </div>
                </div>
                <div class="form-group ">
                    <div class="input-groupa">
                        <div class="m-label"> Adresse :</div>
                        {{ form_widget(form.adresse, {'attr': {'class': 'form-control','placeholder':'Adresse de la disco'}}) }}
                    </div>
                </div>
                <div class="form-group ">
                    <div class="input-groupa">
                        <div class="m-label">Pr&eacute;cision :</div>
                        {{ form_widget(form.complement, {'attr': {'class': 'form-control','placeholder':'Complement adresse'}}) }}
                    </div>
                </div>
                <div class="form-group ">
                    <div class="input-groupa">
                        <div class="m-label">Adresse internet :</div>
                        {{ form_widget(form.web, {'attr': {'class': 'form-control','placeholder':'Url du site de la disco'}}) }}
                    </div>
                </div>
                <div class="form-group ">
                    <div class="input-groupa">
                        <div class="m-label">Url connexion :</div>
                        {{ form_widget(form.connexion, {'attr': {'class': 'form-control','placeholder':'Url de connexion'}}) }}
                    </div>
                </div>
                <div class="form-group ">
                    <div class="input-groupa">
                        <div class="m-label">Description :</div>
                        {{ form_widget(form.description, {'attr': {'class': 'form-control','placeholder':'Un descriptif'}}) }}
                    </div>
                </div>
                {#
                <div class="form-group ">
                    <div class="input-groupa">
                        <div class="m-label">Image discoth&egrave;que :</div>
                         {{ form_widget(form.image.file, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                #}
                    {{ form_rest(form) }}
                <div class="form-group m-form-register">
                    <button type="submit" class="form-control btn btn-default">Register</button>
                </div>
             </form>
            {# {{ form_end(form) }} #}

        </div>
    </div>
{% endblock %}












