
{# src/WhackUp/ManageBundle/Resources/views/Advert/image.html.twig #}

{% extends "WhackUpManageBundle:Advert:index.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="screen" type="text/css" href="{{ asset('bundles/whackup/css/bootstrap-datepicker.css') }}"/>
{% endblock %}
{% block javascripts_top %}
    {{ parent() }}
    <script type="text/javascript" src="{{asset('bundles/whackup/js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{asset('bundles/whackup/js/bootstrap-datepicker.fr.min.js') }}"></script>
{% endblock %}

{% block title %}Modification annonce{% endblock %}



{% block side_right %}
    <div class="side-right">
        <div class="title">
           <span class="option">
                <a href="{{ path('whack_up_manage_pub_view',{ 'id': advert.id }) }}"><span class="glyphicon glyphicon-eye-open"></span> Retour annonce </a>
                <a href="{{ path('whack_up_manage_pub_edit',{ 'id': advert.id }) }}"><span class="glyphicon glyphicon-edit"></span> Modifier</a>
                <a href="{{ path('whack_up_manage_pub_edit_image',{ 'id': advert.id }) }}"> <span class="glyphicon glyphicon-picture"></span> Changer Image</a>
            </span>
            <span class="info">
                {{ advert.title }}
            </span>
        </div>
        <div class="content">

            <form method='post' action="{{ path('whack_up_manage_pub_edit_image',{ 'id': advert.id }) }}" enctype="multipart/form-data" novalidate="novalidate" class="disco" > {# novalidate="novalidate #}
                {#   {{ form_start(form, {'attr': {'class': 'disco','novalidate':'novalidate'}}) }} #}
                <div class="info-form">
                    {{ form_errors(form.file) }}
                    {% if message|trim %} <span class="glyphicon glyphicon-ok-circle"></span> Picture advertising for <b>{{ message }}</b> have been saved...</span> {% endif %}

                </div>
                <div class="form-group ">
                    <div class="input-groupa">
                        <div class="m-label">Image  :</div>
                        {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                {# {{  form_rest(form) }} #}
                <div class="form-group m-form-register">
                    <button type="submit" class="form-control btn btn-default">Register</button>
                </div>
            </form>


        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript" >
        // $('.js-datepicker').datepicker();
    </script>

{% endblock %}












