
{# src/WhackUp/ManageBundle/Resources/views/Users/index.html.twig #}

{% extends "WhackUpManageBundle:Default:index.html.twig" %}


{% block title %}{{ parent() }} | Administration des utilisateurs{% endblock %}

{% block page_users %}active{% endblock %}

{% block side_left %}
    {{ render(controller("WhackUpManageBundle:Users:menuuser")) }}
{% endblock %}

{% block side_right %}
    <div class="side-right">
        <div class="title">
            Tous les {{ group }} ({{ nbreuser }})
        </div>
        <div class="content">
            {% if users is empty %}
                il ya pas des {{ group|lower }}
            {% else %}
                <table class="tab-list-users">
                    <thead>
                        <td> Login</td>
                        <td> Email </td>
                        <td> Type Compte</td>
                        <td> Derniere Connexion</td>
                        <td colspan="1"> Racourcis </td>
                    </thead>
                    {% for u in users %}
                    <tr class="item">
                        <td class="pseudo"> {{ u.username }}</td>
                        <td class="mail"> {{ u.email }}</a></td>
                        <td class="account">
                            {% for role in u.roles %}
                                {% if loop.last %}
                                    {{ role|trim|replace({'ROLE': "", '_': " "}) }}
                                {% else %}
                                    {{ role|trim|replace({'ROLE': "", '_': " "}) }},
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="last-login">
                            {% if u.lastlogin is empty %}
                                <span style="color:coral">Jamais</span>
                            {% else %}
                                {{ u.lastlogin|date('d F Y') }}
                            {% endif %}
                        </td>
                        <td class="option"> <a href="{{ path('whack_up_manage_user_view', { 'id': u.id }) }}" title="Consulter" ><span class="glyphicon glyphicon-info-sign"> </span> </a> </td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}












