
{# src/WhackUp/ManageBundle/Resources/views/Disco/view.html.twig #}

{% extends "WhackUpManageBundle:Users:index.html.twig" %}


{% block title %}WhackUp Utilisateur  | {{ user.username }}{% endblock %}

{% block side_right %}
    <div class="side-right">
        <div class="title">
            {% if is_granted('ROLE_SUPER_ADMIN') == true %}
                <span class="option">
                    <a href="{{ path('whack_up_manage_user_grant',{ 'id': user.id }) }}"><span class="glyphicon glyphicon-pencil"></span> Donner des droits </a>
                </span>
            {% endif %}
            <span class="info">
                {{ user.username|upper }}
            </span>
        </div>
        <div class="content">
            <div class="view-user">
                <div class="view-left">
                    <div class="image-disco">
                        {% if user.image == null %}
                            <img src="{{asset('bundles/whackup/file/profile/none.png') }}" />
                        {% else %}
                            <img src="{{ asset(user.image.uploadDir ~ '/' ~ user.image.url) }}" alt="{{ user.image.url }}" />
                        {% endif %}
                    </div>
                </div>
                <div class="view-right">
                    <div class="row">
                        <div class="col-md-5">Login : </div>
                        <div class="col-md-7">{{ user.username }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">Email : </div>
                        <div class="col-md-7"> {{ user.email }} </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">Derni&eacute;re connexion: </div>
                        <div class="col-md-7">
                            {% if user.lastlogin is empty %}
                              <span style="color:coral">Jamais</span>
                            {% else %}
                            {{ user.lastlogin|date('d F Y') }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">Disco favorites : </div>
                        <div class="col-md-7"> {{ user.discos|length }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">Type de compte : </div>
                        <div class="col-md-7 acount-type">
                            {% for role in user.roles %}
                                {% if loop.last %}
                                    {{ role|trim|replace({'ROLE': "", '_': " "}) }}
                                {% else %}
                                    {{ role|trim|replace({'ROLE': "", '_': " "}) }},
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}












