{# src/WhackUp/CoreBundle/Resources/views/Disco/disco.html.twig #}

{#discos#}
{% if discos is empty %}
    il ya pas des discos
{% else %}
    {% for disco in discos %}
        <div class="wrap-disco">
            <div class="mood-user "></div> {# {% if i == 2 or i == 5 %} like {% endif %} #}
            <div class="disco">
                <div class="disco-cover">
                    <img src="{{asset('bundles/whackup/file/disco/Tof-6.jpg') }}" />
                    <div class="wrap-cover-play">
                        <img src="{{asset('bundles/whackup/img/play.png') }}" />
                    </div>
                </div>
                <div class="disco-info">
                    <div class="title"> {{ disco.nom }}</div>
                    <div class="description">{{ disco.description | truncate(80, false, '...')}}</div>
                </div>  {#{{ disco.adresse }} {{ disco.web }}#}
            </div>
        </div>
    {% endfor %}
{% endif %}
















