{# src/WhackUp/CoreBundle/Resources/views/Disco/disco.html.twig #}

{#discos#}
{% if discos is empty %}
    il ya pas des discos
{% else %}
    {% for disco in discos %}
        <div class="wrap-disco">
            <div class="mood-user {% if app.user.discos is not empty %}
                                        {% for favoris in app.user.discos %}
                                            {% if favoris.id == disco.id %} like {% endif %}
                                        {% endfor %}
                                    {% endif %}" id="{{ disco.id }}"></div>
            <div class="disco">
                <div class="disco-cover">
                    {% if disco.image == null %}
                        <img src="{{asset('bundles/whackup/file/disco/Tof-6.jpg') }}" />
                    {% else %}
                        <img src="{{ asset(disco.image.uploadDir ~ '/' ~ disco.image.url) }}" alt="{{ disco.image.url }}" />
                    {% endif %}
                    <div class="wrap-cover-play" data="{{ disco.connexion }}">
                        <img src="{{asset('bundles/whackup/img/play.png') }}" />
                    </div>
                </div>
                <div class="disco-info">
                    <div class="title"> {{ disco.nom }}</div>
                    <div class="description">{{ disco.description | truncate(80, false, '...')}}</div>
                </div>  {#{{ disco.adresse }} #}
            </div>
        </div>
    {% endfor %}
{% endif %}
















