{# src/WhackUp/CoreBundle/Resources/views/Disco/favourite.html.twig #}


{% if favoris is empty %}
    Vous n'avez aucun favori
{% else %}
    {% for disco in favoris %}
        <div class="wrap-disco favourite">
            <div class="mood-user like" id="{{ disco.id }}"></div>
            <div class="disco">
                <div class="disco-cover">
                    {% if disco.image == null %}
                        <img src="{{asset('bundles/whackup/file/disco/Tof-6.jpg') }}" />
                    {% else %}
                        <img src="{{ asset(disco.image.uploadDir ~ '/' ~ disco.image.url) }}" alt="{{ disco.image.url }}" />
                    {% endif %}
                    <div class="wrap-cover-play" data="{{ disco.connexion }}" >
                        <img src="{{asset('bundles/whackup/img/play.png') }}" />
                    </div>
                </div>
                <div class="disco-info">
                    <div class="title"> {{ disco.nom }}</div>
                    <div class="description">{{ disco.description | truncate(80, false, '...')}}</div>
                </div>  {#{{ disco.adresse }} {{ disco.web }}#}
            </div>
        </div>
    {% endfor %}
{% endif %}












