{# src/WhackUp/CoreBundle/Resources/views/Disco/slider.html.twig #}


{% if adverts is empty %}
  {# Auncune annonce à afficher :( #}
{% else %}
        <ul class="core-user bxslider">
            {% for advert in adverts %}
            <li>
                <img src="{{ asset(advert.uploadDir ~ '/' ~ advert.picture) }}" alt="{{ advert.title }}" >
                <div class="description">
                    <h4>{{ advert.title }}</h4>
                    {{ advert.description | truncate(400, false, '...') }}
                    <br/>
                   <span class="deadline-event"> <span class="glyphicon glyphicon-dashboard"></span>  {{ advert.dateend|date('d F Y') }} - </span>
                    <a href="http:\\{{ advert.web }}" target="_blank" title="Plus d'infos"><span class="glyphicon glyphicon-info-sign"></span> Plus d'infos</a>
                </div>
            </li>
            {% endfor %}
        </ul>
{% endif %}













